{% extends 'base/base.html' %}
{%  load crispy_forms_tags %}
{% load static %}

{%  block title %}
{{type}}
{% endblock %}

{% block content %}

{% include 'components/home_header.html' %}
 
 <div class="container w-75 border border-dark shodow mt-5 mb-5 rounded-3 p-5 bg-light ">
   
    <form  method="post">
    <h1 class="text-center">{{type}} page</h1>
    {% csrf_token %}
    {{form | crispy}}
    <button class="container-fluid btn btn-outline-success mb-5">{{type}}</button>
    </form>
    

 </div>

{% endblock %}
