{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
 
{% include 'components/home_header.html' %}


    <div class="container pt-5">

				{% for post in post_data %}
				  
					<div class="w-100 card border-success mb-3 p-2">
						<div   class="card-header bg-transparent border-success">
							
							<h4 style="color:#362C5F !important;"> <i class="fa-solid fa-circle-user"></i> {{post.author.first_name}} {{post.author.last_name}}</h4>
						</div>
						<div class="card-body text-dark">
							<h5 class="card-title">{{post.name}}</h5>
							<p>Category:{% for c in post.category.all %}
								{{c.name}}
								{% endfor %}
							</p>
							
							<!-- Preview: Shows 2 lines with line breaks preserved -->
							<div class="post-preview" id="postPreview{{ forloop.counter }}">
								<p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; margin-bottom: 0.5rem;">
									{{post.content|linebreaksbr}}
								</p>
							</div>

							<!-- Full content: Hidden by default, shows on click -->
							<div class="post-full collapse" id="postContent{{ forloop.counter }}">
								<p class="card-text">{{post.content|linebreaksbr}}</p>
							</div>

							<!-- Show More / Show Less Button -->
							<button class="btn btn-link p-0 post-toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#postContent{{ forloop.counter }}" data-preview-id="postPreview{{ forloop.counter }}" aria-expanded="false" aria-controls="postContent{{ forloop.counter }}" style="color: #362C5F;">
								Show more
							</button>
						</div>
						
						<div class="d-flex flex-wrap card-footer bg-transparent border-success gap-2">
							<a style="text-decoration: none; color:green;" class="p-2" href="">Upvote</a>
							<a style="text-decoration: none; color: red;" class="p-2" href="">Downvote</a>
                            <a  class="btn btn-success " href="{% url 'posts:edit_post' post.id %}">Edit</a>
							<a class=" btn btn-danger " href="{% url 'posts:delete_post' post.id %}">Delete</a>
						</div>
					</div>
			   {% endfor %}
	</div>

{% endblock %}