{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
 
{% include 'components/home_header.html' %}



<div class=" container-fluid row p-5">
    <div class="col-2 border border-dark rounded-3 "> 
        {% include 'components/profile_page_side_bar.html' %}
    </div>
    <div class="col">

            <form class="border border-dark shodow  rounded-3 p-5 bg-light" style="  margin : auto" method="post">
                <h1 class="text-center">Profile</h1>
                {% csrf_token %}
                {{form | crispy}}
            <button class=" container-fluid btn btn-outline-success mb-5">Update Profile</button>
            </form>
     
    </div>
</div>



{% endblock %}